$mainFontFamily: 'Roboto',
sans-serif;
$headerFontFamily: 'Montserrat',
sans-serif;
$primaryColor: #000000;
$secondaryColor: #ffffff;
$primaryTextColor: #6f6f6f;
$deliveryBackgroundColor: #f7f7f7;
$testimonialBoxColor: #ffffff;
$testimonialsBackColor: #f7f7f7;
$projectBackgroundColor: #f7f7f7;

$projectBackgorundColor:#f7f7f7;
$projectSecondaryIconColor: #ffffff;
$projectPrimaryIconColor: #000000;

$projectPhotoOverlayColor: #ff214f;

$deliverNumberColor: #ff214f;

$borderClientsColor: #f3efef;

$backgroundVideoColor: #000000;

$headerVideoColor: #ffffff;
$header2VideoColor: #B7B7B7;
$paragraphVideoColor: #6f6f6f;